<h2>prueba de multipagina</h2>

<script src="dist/bundle.js"></script>
<script>
    var scorm = ScormApi.create({
        version: 'v12',
        debug: true,
        saveConnectionInOpenerWindow: true
    }).build();
</script>